[Unit]
Description=Fingerprint Control Center Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/fprint-control-center
Restart=on-failure

[Install]
WantedBy=default.target
